[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gemmi = "*"
numpy = "*"
pyvis = "==0.3.1"
networkx = "*"
biopython = "*"
scipy = "*"
matplotlib = "*"
xarray = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
